/* calculator */
.calculator {
	border-top: double;
    border-bottom: double;
    padding-bottom: 4rem;
    margin-top: 4rem;

	@media all and (min-width: $screen-md-min) {
		border-bottom: 0;
		padding: 0;
		margin-top: 3rem;
	}

    &__widget {
        background: $purple;
        border-radius: 1rem;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 1rem;
        border: 2px solid $purple;
		max-width: 400px;
		margin: 0 auto;

		@media all and (min-width: $screen-md-min) {
			max-width: none;
		}
    }

    &__filters {
        -ms-grid-column: 1;
		-ms-grid-column-span: 12;
        grid-column-start: 1;
        grid-column-end: 13;
        order: 2;
        padding: 2rem;
        border-radius: 1rem;
        background: $lightpurple;

        @media all and (min-width: $screen-md-min) {
			-ms-grid-column-span: 6;
            grid-column-end: 7;
            order: 0;
            border-radius: 1rem 0 0 1rem;
        }
    }

    &__textfield {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        input {
            padding: 0.5rem 1rem 0.5rem 2rem;
            font-size: 1.2rem;
            border-radius: 0.5rem;
            border: 1px solid $darkgrey;
            width: 100%;
            background: $header-bg;
            color: $darkgrey;
        }

        &.calculator__interest {
            input {
                padding-left: 1.5rem;
            }
        }
    }

    &__input-wrapper {
        display: inline-block;
        position: relative;

        &::before,
        &::after {
            position: absolute;
            font-size: 1.2rem;
            color: $grey;
            top: 4px;
        }

        &--currency {
            &::before {
                content: "$";
                left: 0.75rem;
            }
        }

        &--interest {
            margin-bottom: 0.5rem;

            &::after {
                content: "%";
                right: 0.75rem;
            }
        }
    }

    &__radiogroup {
        border: 0;
        margin: 0 0 1rem;
        padding: 0;
        display: flex;
        justify-content: space-between;

        label {
            display: inline-block;
            background-color: $container-bg;
            padding: 0.5rem 0.75rem;
            border: 2px solid $purple;
            border-radius: 0.75rem;
            color: $base-black;
            cursor: pointer;
            line-height: 1rem;

            &:hover {
                background-color: $lightorange;
                border-color: $orange;
            }
        }

        input[type="radio"] {
            opacity: 0;
            position: fixed;
            width: 0;

            // accessibility
            &:focus + label {
                outline: 1px dotted #212121;
                outline: 5px auto -webkit-focus-ring-color;
            }

            &:checked + label {
                background-color: $lightorange;
                border-color: $orange;
            }
        }
    }

    .submit-button {
        border: 1px solid $goldenrod;
		border-radius: 0.5rem;
    }

    &__chart {
        position: relative;
        width: 100%;
        max-width: 180px;
        max-height: 180px;
		margin-bottom: 2rem;

        &-container {
            -ms-grid-column: 1;
			-ms-grid-column-span: 12;
            grid-column-start: 1;
            grid-column-end: 13;
            order: 1;
            padding: 3rem 2rem;
            border-radius: 1rem 1rem 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            @media all and (min-width: $screen-md-min) {
                -ms-grid-column: 7;
				-ms-grid-column-span: 6;
                grid-column-start: 7;
                grid-column-end: 13;
                order: 0;
                border-radius: 0 1rem 1rem 0;
                padding: 2rem;
            }
        }

        &__total {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $header-bg;
            font-size: 1.5rem;
            margin: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            span {
                color: $header-bg;

                &:first-child {
                    font-size: 1rem;
                }

                &.small {
                    font-size: 0.7rem;
                    text-transform: uppercase;
                }
            }
        }

        &__svg {
            transform: rotate(-90deg);
        }

        &__meter,
        &__value {
            fill: none;
        }

        &__meter {
            stroke: $orange;
        }

        &__value {
            stroke: $teal;
            stroke-linecap: round;
            transition: 1s ease-in-out all;
        }
    }

	&__legend {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;

		&-item {
			color: $header-bg;
			font-size: 0.8rem;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&-colour {
			height: 0.5rem;
			width: 0.5rem;
			margin-right: 0.5rem;
			border-radius: 50%;

			&--interest {
				background: $orange;
			}

			&--principal {
				background: $teal;
			}
		}
	}
}
