/* sign up form */
.signup {
    margin: 3rem auto 0;
    max-width: 450px;

    @media all and (min-width: $screen-md-min) {
        position: sticky;
        top: calc(90px + 4rem);
        margin-top: 0;
    }

    padding: 2rem;
    background: $ocean;
    border: 1px solid $lightgrey;
    border-radius: 0 1.5rem;

    &__header {
        color: $base-white;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        line-height: 1.75rem;
        text-align: center;
        margin-bottom: 2rem;
        font-size: 1.2rem;
        border-bottom: double $gold;
        padding: 0.5rem 0.5rem 1.5rem;
    }

    &__error {
        background: $salmon;
        border: 2px solid $red;
        color: $red;
        display: none;
        font-size: 0.75rem;
        font-weight: 600;
        margin-bottom: 1rem;
        padding: 0.5rem 1rem;
    }

    &__success {
        text-align: center;
        font-size: 1.2rem;
        letter-spacing: 1px;
        color: $base-white;
    }

    .radiogroup {
        border: 1px solid $gold;
        margin: 0.5rem 0 1.5rem;
        padding-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &__legend {
            color: $base-white;
            display: block;
            line-height: 1.5rem;
        }

        &__button {
            display: inline-flex;
            align-items: center;
            width: 45%;
        }
    }

    &__input,
    &__select {
        border: 2px solid transparent;
        border-radius: 4px;
        background: $base-white;
        padding: 0.75rem;
        box-sizing: border-box;
        margin-bottom: 1rem;
        width: 100%;
    }

    &__input {
        &::placeholder {
            font: 400 1.5rem/1.75rem $lightgrey;
            font-style: italic;
        }

        &--radio {
            width: auto;
            margin: 0 0.5rem 0 0;
        }
    }

    &__select {
        color: $base-black;
    }

    &__label {
        color: $base-white;

        &--text {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
            color: $base-white;
            letter-spacing: 1px;
            line-height: 1.2rem;
        }

        &--dropdown {
            display: block;
            line-height: 1.5rem;
            margin-bottom: 0.5rem;
        }
    }
}
