/* header */
.header {
    width: 100%;
    position: sticky;
    top: -30px;
    height: 120px;
    background: $header-bg;
    -webkit-box-shadow: 0 2px 12px -1px $lightgrey;
    -moz-box-shadow: 0 2px 12px -1px $lightgrey;
    box-shadow: 0 2px 12px -1px $lightgrey;
    z-index: 1;
    display: flex;
    align-items: center;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        padding: 0.75rem 2rem 0.25rem;
        height: 90px;
        top: 0;
        position: sticky;

        @media all and (min-width: 768px) {
            flex-direction: row;
            align-items: center;
        }

        @media all and (min-width: $screen-lg-min) {
            padding: 0.75rem 4rem 0.75rem;
        }
    }

    &__logo {
        display: flex;
        align-items: center;

        img {
            @media all and (min-width: $screen-md-min) {
                height: 50px;
            }
        }
    }

    &__ticker {
        border-top: double $grey;
        padding-top: 10px;
		width: 100%;
		overflow-x: scroll;

        @media all and (min-width: 768px) {
            border: 0;
			padding: 0;
			width: auto;
			overflow: visible;
        }
    }
}
