/* ticker */
.ticker {
	&__list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

    &__item {
        display: flex;
        flex-direction: row;
        line-height: 1.3rem;
        font-size: 0.8rem;
        border-left: 1px solid $lightgrey;
        padding-left: 0.5rem;
        margin-left: 0.5rem;

		@media all and (min-width: 768px) {
            padding-left: 1rem;
            margin-left: 1rem;
			flex-direction: column;
        }

        @media all and (min-width: $screen-lg-min) {
            padding-left: 2rem;
            margin-left: 2rem;
        }

        &:first-child {
            border: 0;
            padding: 0;
            margin-left: 0;
        }
    }

    &__symbol {
        color: $stock-symbol;
		font-weight: 600;
		margin-right: 4px;

		@media all and (min-width: 768px) {
            margin-right: 0;
        }
    }

    &__close {
        font-weight: 600;
        font-size: 1rem;
        display: none;

        @media all and (min-width: 768px) {
            display: flex;
        }
    }

    &__difference {
        display: flex;
        align-items: center;

        &--rise {
            color: $stock-rise;

            span {
                color: $stock-rise;
            }
        }

        &--drop {
            color: $stock-drop;

            span {
                color: $stock-drop;
            }
        }

        span {
            margin-left: 2px;
        }

        img {
            height: 14px;
            margin-left: 2px;
			display: none;

			@media all and (min-width: 768px) {
				display: inline;
			}
        }
    }

    &__desktop {
        display: none;

        @media all and (min-width: 768px) {
            display: inline;
        }
    }
}
