/* variables & colours */
$base-font-family: Helvetica, Arial, sans-serif;

$base-black: #2b3a42;
$base-white: #f7f8f8;
$lightgrey: #c4c4c4;
$grey: #a9a9a9;
$darkgrey: #696969;
$background-bg: #d3d3d3;
$container-bg: #faf0e6;
$header-bg: #fdf5ee;
$gold: #ffd700;
$goldenrod: #daa520;
$purple: #5e0280;
$lightpurple: #d8bfd8;
$orange: #f77a52;
$lightorange: #ffdab9;
$ocean: #07575b;
$teal: #008080;
$salmon: #ffe8e8;
$red: #dc143c;
$stock-symbol: #1034a6;
$stock-drop: #d93025;
$stock-rise: #008000;

/* resolutions */
$screen-md-min: 769px;
$screen-lg-min: 1025px;

/* base styles */
* {
	font-family: $base-font-family;
	color: $base-black;
	font-weight: 400;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	max-width: 100vw;
	font-size: 1rem;
	line-height: 2rem;
	background: $background-bg;
}

strong,
h1, h2, h3, h4, h5, h6  {
	font-weight: 700;
	margin: 0;
}

/* headers */
h1 {
	font-size: 1.75rem;
	line-height: 2.5rem;

	@media all and (min-width: $screen-md-min) {
		font-size: 2.75rem;
		line-height: 3.5rem;
	}
}

h2 {
	font-size: 1.5rem;
	line-height: 2rem;
	margin-top: 2.5rem;

	@media all and (min-width: $screen-md-min) {
		font-size: 1.75rem;
		line-height: 2.25rem;
	}
}

h3 {
	font-size: 1.25rem;
	line-height: 1.75rem;
	margin: 0 0 1rem;

	@media all and (min-width: $screen-md-min) {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}
}

/* container styles */
.container {
	max-width: 1280px;
	position: relative;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[12];
	grid-template-columns: repeat(12,1fr);
	grid-column-gap: 1rem;
	margin: 0 auto;
	padding: 2rem;
	background: $container-bg;

	@media all and (min-width: $screen-md-min) {
		grid-column-gap: 4rem;
	}

	@media all and (min-width: $screen-lg-min) {
		padding: 4rem;
	}
}

main,
aside {
	-ms-grid-column: 1;
	-ms-grid-column-span: 12;
	grid-column-start: 1;
	grid-column-end: 13;
}

main {
	@media all and (min-width: $screen-md-min) {
		-ms-grid-column-span: 6;
		grid-column-end: 9;
	}
}

aside {
	@media all and (min-width: $screen-md-min) {
		-ms-grid-column: 9;
		-ms-grid-column-span: 4;
		grid-column-start: 9;
		grid-column-end: 13;
	}
}

/* button styles */
.submit-button {
	display: flex;
	justify-content: center;
	background: $gold;
	border-radius: 4px;
	border: none;
	padding: 0.75rem 1.5rem;
	cursor: pointer;
	font-size: 1rem;
	width: auto;
	margin: 0.5rem auto 0;
	text-transform: uppercase;
	letter-spacing: 1px;

	&:hover {
		background: linear-gradient(to top, $darkgrey, 0.5%, $gold);
	}
}